@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: #f4f5f7 !important;
}

.p-select-list-container {
    background-color: white;
    /* border-left: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0; */
    border-bottom: 2px solid #E0E0E0;
    border-radius:  0 0 16px 16px;
    padding: 0 5px;
}

.p-select-list li {
    padding: 8px 0;
    cursor: pointer;
    border-bottom: 1px solid #E0E0E0;
}

.p-password-input {
    width: 100%;
}

.p-select-list li:hover {
    background-color: #E0E0E0 !important;
}

.custom-tooltip {
    position: absolute;
    background-color: #6b46c1; /* Custom background color */
    color: white; /* Custom text color */
    padding: 5px 10px;
    border-radius: 8px; /* Rounded corners */
    font-size: 14px;
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    z-index: 1000;
  }