@tailwind base;
@tailwind components;
@tailwind utilities;

.p-select-list-container {
    background-color: white;
    /* border-left: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0; */
    border-bottom: 2px solid #E0E0E0;
    border-radius:  0 0 16px 16px;
    padding: 0 5px;
}